<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Employer : Dashboard</title>
</head>
<body>
    <section>
        {% for cmp in jobs %}
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box"style="height: 250px;">
              <i class="fa fa-file-pdf-o fa-4x" aria-hidden="true"></i><br><br>
              <h3 style="color: #012970;">{{ cmp }}</h3>
              <ul>
                
              </ul>
            </div>
          </div>
          {% endfor %}
    </section>
    <section>
        <form method="POST" action="/employer/addJobs">
            <label for="title"><b>Project Title</b></label>
            <input type="text" name="title" placeholder="Enter Project Title">
            <label for="skills"><b>Required skills</b></label>
            <input type="text" name="skills" placeholder="Enter required skills">
            <input type="submit" style="btn btn-success">Add
        </form>
    </section>
</body>
</html>