<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee : Dashboard</title>
</head>
<body>
    <section>
        {{ recjobs }}
    </section>
    <section>
        {% for cmp in alljobs %}
          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box"style="height: 250px;">
              <form method="POST" action="/employee/apply/{{ cmp._id }}">
                <h3 style="color: #012970;">{{ cmp }}</h3>
                <button type="submit"></button>
                <ul>
                  
                </ul>
              </form>
            </div>
          </div>
          {% endfor %}
    </section>
</body>
</html>